[MAIN]
analyse-fallback-blocks=no
clear-cache-post-run=no
jobs=1
persistent=yes
py-version=3.11
recursive=yes
suggestion-mode=yes
fail-under=10
ignore=CVS
ignore-patterns=^\.#
ignore-paths=tests,env
source-roots=./app
clear-cache-post-run=no

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
function-naming-style=snake_case
method-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
class-const-naming-style=UPPER_CASE

bad-names=foo, bar, baz, toto, tutu, tata
good-names=i, j, k, ex, Run, _
inlinevar-naming-style=any
include-naming-hint=no

docstring-min-length=-1

[CLASSES]
check-protected-access-in-special-methods=no
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs
exclude-protected=_asdict,_fields,_replace,_source,_make,os._exit

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-returns=6
max-statements=50
max-public-methods=20
min-public-methods=2

[EXCEPTIONS]
overgeneral-exceptions=builtins.BaseException,builtins.Exception

[FORMAT]
max-line-length=79
max-module-lines=300
indent-after-paren=4
indent-string='    '
single-line-class-stmt=no
single-line-if-stmt=no

[IMPORTS]
allow-any-import-level=
allow-reexport-from-package=no
allow-wildcard-with-all=no
known-third-party=
import-graph=
ext-import-graph=
int-import-graph=

[LOGGING]
logging-format-style=old
logging-modules=logging

[MESSAGES CONTROL]
confidence=HIGH, CONTROL_FLOW, INFERENCE, INFERENCE_FAILURE, UNDEFINED
disable=raw-checker-failed, bad-inline-option, deprecated-pragma, use-implicit-booleaness-not-comparison-to-string
enable=

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit,argparse.parse_error
suggest-join-with-non-empty-separator=yes

[REPORTS]
evaluation=max(0, 0 if fatal else 10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10))
reports=no
score=yes

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
ignore-signatures=yes
min-similarity-lines=4

[SPELLING]
max-spelling-suggestions=4
spelling-dict=en_US
spelling-ignore-words=

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
ignore-none=yes
ignore-on-opaque-inference=yes
generated-members=

[VARIABLES]
allow-global-unused-variables=yes
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
